.idea/
**/__pycache__/
./bin/phing
bin/phing
./bin/yuicompressor.jar
bin/yuicompressor.jar
PyStratum.egg-info/
dist/
composer.lock
vendor/
etc/mssql/test_columns.txt
etc/mssql/test_config.txt
etc/mssql/test_routines.json
etc/mysql/test_columns.txt
etc/mysql/test_config.txt
etc/mysql/test_routines.json
