language: python
python:
  - '3.4'
  - '3.5'
  - '3.5-dev'
  - nightly
  
sudo: true

addons:
  mariadb: 10.1

before_install:
  - mysql --version
  - mysql -u root -e "create database if not exists test;"
  - mysql -u root -e "create user 'test'@'localhost' identified by 'test';"
  - mysql -u root -e "grant all on test.*  to 'test'@'localhost';"
  - mysql -u root -e "set global binlog_format = 'row';"
  - mysql -u root -e "set global log_bin_trust_function_creators = 1;"
  
install:
  - wget https://dev.mysql.com/get/Downloads/Connector-Python/mysql-connector-python-2.1.3.tar.gz
  - tar zxvf mysql-connector-python-2.1.3.tar.gz
  - cd mysql-connector-python-2.1.3
  - python3 setup.py install

script: 
  - pwd
  - cd /home/travis/build/SetBased/py-stratum
  - cat test/mysql/ddl/create_tables.sql | mysql -utest -ptest test
  - python3 bin/stratum.py -c etc/mysql/test_stratum.cfg
  - python3 -m unittest test/mysql/*.py
  

