[database]
rdbms                = pgsql
host_name            = localhost
port                 = 5432
user_name            = test
password             = test
database_name        = cbi
schema               = test

[wrapper]
parent_class           = StaticDataLayer
parent_class_namespace = pystratum.pgsql.StaticDataLayer
wrapper_class          = DataLayer
wrapper_file           = test/pgsql/DataLayer.py
metadata               = etc/pgsql/test_routines.json
lob_as_string          = False

[loader]
source_directory = test/pgsql/psql
extension        = .psql
# Encoding (aka character set of source files) (Python)
encoding         = utf-8
column_types_sql = etc/pgsql/column_types.txt
config           = etc/pgsql/test_config.txt

[constants]
columns         = etc/pgsql/test_columns.txt
prefix          = TST_
config_template = etc/pgsql/test_config.template.txt
config          = etc/pgsql/test_config.txt